@import 'vars';
@import 'global';
@import 'fonts';

//start header

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: absolute;
    width: 100%;
    z-index: 5;
}
.header__logo{
    a{
        position: relative;
        min-width: 190px;
    }
    span{
        @include r500;
        color: #fff;
        font-size: 34px;
        text-align: center;
        position: absolute;
        top: 9px;
    }
    
}
.menu{
    display: flex;
    align-items: center;
}
.menu__list{
    li {
        display: inline-block;
        &+li{
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
        @include m300;
    }
    a:hover{
        color: $brown;
    }
}
.btn-portfolio {
    margin-left: 60px;
}
.btn-search {
    margin-left: 30px;
}
//end header

//sart slider
.slider{
    position: relative;

    .slick-arrow{
        position: absolute;
        top: 35%;
        z-index: 2;
        font-size: 0;
        width: 40px;
        height: 75px;
        background-color: transparent;
        display: block;
        cursor: pointer;
        border: none;
        outline: none;
    }
}
.slider__inner-slide{
    margin: 0 auto;
    min-height: 1023px;
    background-image: url(../images/slider/slide-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;

}
.slide__content{
    padding: 300px 0 400px;
    color: #fff;
    text-align: center;
    &-title{
        @include r500;
        font-size: 36px;
        margin-bottom: 10px;
    }
    &-text{
        @include r800;
        font-size: 52px;
        margin-bottom: 10px;
    }
    &-context{
        @include m300;
        font-size: 16px;
        line-height: 26px;
        max-width: 595px;
        display: inline-block;
        margin-bottom: 50px;
    }    
}
.link-btn{
    display: block;
    @include r800;
    font-size: 14px;
    background-color: $cofy;
    color: #fff;
    border-radius: 4px;
    border-bottom: 3px solid #736357;
    height: 50px;
    width: 170px;
    padding: 18px 37px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

.slick-prev {
    left: 0;
    margin-left: 150px;
    background: url(../images/slider/control/left.svg) no-repeat center;
   }
.slick-next{
    margin-right: 150px;
    right: 0;
    background: url(../images/slider/control/right.svg) no-repeat center;
   }
.slick-dots{
    position: absolute;
    left: 47%;
    transform: translate(16px, -50px);
    text-align: center;
    position: absolute;
    li{
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        &.slick-active{
            button{
                background-color: transparent;
                box-shadow: 0px 0px 0px 2px #d3c1ad; 
                outline: none;
            }

        }
    }
    button{
        cursor: pointer;
        border-radius: 50%;
        background-color: #939190;
        font-size: 0;
        border: none;
        width: 11px;
        height: 11px;
    }
}

//end slider

//start services
.services__inner{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    .services__block{
        text-align: center;
        max-width: 270px;
        width: 100%;
        margin-right: 15px;
        margin-left: 15px;
        position: relative;
       .icon-pencil2::before{
           font-size: 38px;
           color: #555555;
           display: block;
           padding-bottom: 28px;
        }
        .services__block-title{
            span{
                font-size: 22px;
                color: #555555;
                @include r600;
            }    
        }
        a.services__block-title.icon-pencil2:hover::before{
            transition: all .2s ease-in;
            color: #d3c1ad;
        }
        a.services__block-title.icon-pencil2:hover{
            span{
                transition: all .2s ease-in;
                color: #d3c1ad;
            }
        }
        a.services__block-title.icon-pencil2:hover::after{
            transition: all .2s ease-in;
            background-color: #d3c1ad;
        }


        .services__block-title::after{
            content: '';
            background-color: #f1eee9;
            position: absolute;
            width: 70px;
            height: 3px;
            bottom: 0;
            left: calc(50% - 35px);
        }
    }
    .services__block-text{
        @include m300;
        font-size: 14px;
        line-height: 24px;
        color: $color-text;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

//end services

//start presentation

.presentation__inner {
    background-color: #fbfaf8;
}

.presentation__text {
    text-align: center;
    padding: 80px 0 40px 0;


    &-title {
        @include r600;
        font-size: 30px;
        color: #555555;
        margin-top: 0;
        margin-bottom: 24px;
    }
    &-info {
        @include m300;
        font-size: 16px;
        line-height: 28px;
        color: $color-text;
        max-width: 760px;
        display: inline-block;
        margin: 0 auto;

    }
}
.presentation__images {
    img{
        display: block;
    }
    &-left{
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &-center{
        z-index: 3;
        position: relative;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);

    }
    &-right{
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

//end presentation

//start theme
.theme__wrapper {
    background: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}
.theme__inner {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 50px;
    .link-btn {
        margin: 0;
        padding: 18px 28px;
}
}
.theme__text {
   
    line-height: 1;
}
.theme__text-title {
   
    @include r500;
    font-size: 28px;
    color: #fff;
    padding-bottom: 8px;
    span{
        color: #c7b299;
    }
}
.theme__text-context {
    
    @include m300;
    color: #615855;
    font-size: 18px;
}


//end theme

//start projects
.projects__wrapper{
    padding-bottom: 80px;
}

.projects__text {
    text-align: center;
    padding: 83px 0 40px 0;
    line-height: 1;

    &-title {
        @include r600;
        font-size: 30px;
        color: #555555;
        margin-top: 0;
        margin-bottom: 24px;
    }
    &-context{
        @include m300;
        font-size: 16px;
        line-height: 28px;
        color: $color-text;
        max-width: 770px;
        display: inline-block;
        margin: 0 auto;
    }
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 40px;
    button+button {
        margin-left: 5px;
    }
    button{
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #ebebeb;
        @include m300;
        font-size: 14px;
        line-height: 21px;
        color: $color-text;
        cursor: pointer;
        outline-color: $color-text;
        padding: 10px 16px;
        transition: all 0.3s ease-in-out;
    }
    button.mixitup-control-active{
        background-color: #998675;
        color: #fff;
        transition: all 0.3s ease-in-out;
    }
}

.projects__inner{
    padding-bottom: 10px;
}
.projects__inner-box{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -30px;
    .products__item.item-hidden{
        display: none;
    }
    .products__item {
        max-width: 370px;
        width: 100%;
        margin-bottom: 30px;
        flex-basis: calc(33.33333% - 30px);
        margin-left: 30px;
        &-img{
            display: block;
            min-height: 237px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
                                                
            .products__item-link{
                transition: all 0.3s ease-in-out;
                position: absolute;
                left: 0;bottom: 0;right: 0;top: 0;
                opacity: 0;
                background: rgba($color: #2f2f2f, $alpha: .6);
                display: block;
                .link-inner{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a{
                        color: #fff;
                        margin: 7px;
                        padding: 7px;
                        font-size: 26px;
                        line-height: 36px;
                        transition: all 0.3s ease-in-out;
                    }
                    a:hover{
                        transition: all 0.3s ease-in-out;
                        color: #c7b299;
                    }
                }
                
            }

        }
        &-content{
            transition: all 0.3s ease-in-out;
            padding-left: 30px;
            padding-bottom: 27px;
            background-color: #fbfaf8;
            padding-top: 30px;
        }   
        &-title {
            transition: all 0.3s ease-in-out;
            font-size: 20px;
            color: #c7b299;
            line-height: 1;
            display: block;
            padding-bottom: 15px;
            @include r500;
        }
        &-context {
            color: #d1d1d1;
            font-size: 14px;
            line-height: 1;
            display: block;
            @include m300;
            transition: all 0.3s ease-in-out;
        }
    }
}


.products__item:hover .products__item-link{
    transition: all 0.3s ease-in-out;
                        opacity: 1;
    }

.products__item:hover .products__item-content{
    transition: all 0.3s ease-in-out;
    background-color: #362f2d;
    .products__item-title{
        color: #f2f1f1;
    }
    .products__item-context{
        transition: all 0.3s ease-in-out;
        color: #c7b299;
    }
}



//end projects

//start presentation


.video-present__wrapper {
    background: url(../images/background_presentation.jpg) center/cover no-repeat;
    
}
.video-present__content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 705px;
    text-align: center;
    color: #fff;
}
.video-present__player {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .2);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    a{
        transition: all 0.3s ease-in-out;
        margin: 15px;
        color: #fff;
    }
    .icon-play2:before{
        font-size: 72px;
        
    }
    a:hover{
        transition: all 0.3s ease-in-out;
        color: #c7b299;
    }
}
.play {
}
.video-present__text {
    
}
.video-present__text-title {
    @include r400;
    font-size: 30px;
    padding: 45px 0 29px 0;
    line-height: 1;
    margin: 0;
}
.video-present__text-context {
    @include m300;
    font-size: 16px;
    line-height: 28px;
    max-width: 560px;
    width: 100%;
    padding-bottom: 40px;
}
.video-present__text-time {
    @include m400;
    font-size: 14px;
    line-height: 24px;
    color: #c7b299;
    text-shadow: 1px -1px 1px, 0px -1px 0px;
}
//end presentation
//start adaptation

.adaptation {
}

.adaptation__block {
    display: flex;
    text-align: center;
    padding-top: 80px;
}
.adaptation__block-img {
    padding: 0 30px 0 48px;
    &-content{
        display: block;
        max-width: 100%;
        height: auto;
    }

}
.adaptation__block-box {
    margin-top: 115px;
    text-align: left;
}
.adaptation__block-box-title {
    @include r600;
    font-size: 30px;
    color: #555555;
    line-height: 1;
    padding-bottom: 28px;
}
.adaptation__block-box-text {
    max-width: 660px;
    @include m300;
    font-size: 16px;
    line-height: 28px;
    color: $color-text;
    padding-bottom: 40px;
}
ul.adaptation__block-box-list {
    .angle-right{
        position: relative;
        padding-left: 100px;
        @include m300;
        font-size: 16px;
        line-height: 32px;
        color: $color-text;
        padding-left: 100px;
    }
    .angle-right::before{
        content: "\f105";
        font-family: 'icomoon';
        position: absolute;
        left: 50px;
        color: #fff;
        font-size: 18px;
        top: 0px;
        z-index: 2;
    }
    .angle-right::after{
        content: " ";
        position: absolute;
        background-color: $brown;
        border-radius: 50%;
        height: 21px;
        width: 21px;
        left: 42px;
        top: 6px;
    }
}

//end adaptation

//start statistics
.statistics{
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.statistics__inner {
    padding-bottom: 60px;
    padding-top: 67px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
}
.statistics__block {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    max-width: 170px;
    width: 100%;
    margin-right: 15px;
    margin-left: 15px;
    &-title{
        @include m200;
        font-size: 48px;
        color: #fff;
        line-height: 1;
        padding-bottom: 11px;
        
    }
    &-title::after{
        content: " ";
        background-color: #fff;
        position: absolute;
        height: 2px;
        width: 30px;
        bottom: 0;
        left: calc(50% - 15px);
    }

    &-text{
        font-size: 14px;
        line-height: 20px;
        @include m300;
        color: $brown;
        text-transform: uppercase;;
    }
    &-icon{
        padding-bottom: 25px;
        font-size: 48px;
        color: $brown;
    }
}

//end statistics

//start modalWindows

.modal {
    background-color: rgba(0,0,0,0.85);
    z-index: 100;
   display: none;
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
#myModal::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
    }
.modal-content {
    padding:10px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    text-align: left;
    background: #fff;  

}
.close {
    position: absolute;
    top: -40px;
    right: -28px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover{
    color: $brown;
}
//end modalWindows
